- (id, name, slug), items = tree

- if items.size.positive?
  %li
    = link_to '', '#', class: 'arrow has-items', data: { toggleclass: :show }
    = link_to name, nhim_folder_path(slug), class: :name, data: { remote: nhim_folder_path(slug) }
    %ul= render partial: 'tree', collection: items, as: :tree
- else
  %li
    = link_to name, nhim_folder_path(slug), class: :name, data: { remote: nhim_folder_path(slug) }
