%ul#main-list{ data: { refresh: current_folder_serializer.link, mode: :normal } }
  - if current_folder_serializer.is_empty?
    %li.empty Empty folder!
  - else
    %li.header
      .col.name Name
      - if nhim_has_owner?
        .col.owner Owner
      .col.updated_at Last modified

    = render current_folder_serializer.subfolders
    = render current_folder_serializer.files
