%li{ data: { itemtype: :file, id: file.id, dbclick: nhim_file_path(file), starred: file_is_starred.include?(file.id).to_s } }
  .col.icon
  %span.col.name= file.name
  - if nhim_has_owner?
    %span.col.owner= file.owner_name
  %span.col.updated_at= nhim_datetime_display file.updated_at
